psycopg2-binary==2.9.1
Django==3.2.7
django-cors-headers==3.8.0
django-environ==0.6.0
django-filter==2.4.0
django-unixtimestampfield==0.4.0
djangorestframework==3.12.4
djangorestframework-jsonapi==4.2.1
drf-yasg==1.20.0